<div class="page-body">
<h1> ¿Que es Translation Comunity Source?</h1>
<h3>Como bien se sabe los traductores almacenados en la web, presentan muchas fallas en

su funcionamiento. Esto se debe básicamente a que la traducción de un idioma consta de

dos fases, la de traducción y de interpretación, por lo cual los traductores automáticos que

están disponibles fallan en la parte de interpretación, que es una habilidad la cual requiere

de raciocinio humano que no se ha podido reflejar en algoritmos de programación. Además

de la gran cantidad de modismos humanos existentes en todo el mundo, muchos de estos

modismos no están incluidos en los diccionarios de lenguas con los que suelen trabajar los

traductores.

En internet es difícil encontrar sitios donde se pueda lograr la traducción de un

archivo multimedia sin tener que realizar pagos. Con esta plataforma puede llegar a ser

posible traducir desde PDF’s, archivos de audio (canciones, diálogos, discursos, etc) o

imágenes.


</h3>

<%= image_tag('inicio1.png',style: "width: 700px") %>

<h1>¿Cual es nuestra Finalidad?</h1>
<h3>La plataforma puede ser capaz de generar mucho contenido y ampliar una comunidad

de hablantes de diferentes lenguas a lo largo del mundo. Se sabe que hoy en día existe

mucho flujo migratorio por motivos laborales o de estudio, esto provoca que mucha

población habite en países donde no se maneja la lengua nativa, con lo cual esta plataforma

puede hacer más rápido el efecto de adaptación a una cultura y lengua diferente. Además de

servir como una herramienta para gente que quiera aprender más sobre un determinado

idioma o practicar la traducción de textos poniendo a prueba sus conocimientos; y de

empresas que busquen traductores para un determinado documento.
</h3>
<%= image_tag('inicio2.jpg',style: "width: 800px") %>
</div>